<meta name="viewport" content="initial-scale=1.0" />

<link rel="stylesheet" href="/stylesheets/style.css" />

<style>
  @import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

  html {
    zoom: <%=zoom %>;
  }

  html,
  body {
    /* font-family: 'Work Sans', sans-serif; */
    font-weight: normal !important;
    font-size: 14px;
  }

  h1 {
    text-align: center;
    margin-bottom: 45px;
    font-size: 16px;
    text-decoration: underline;
  }

  h2 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 35px;
  }

  h3 {
    font-size: 14px;
  }

  h2,
  h3 {
    margin-bottom: 10px;
  }

  p {
    text-align: justify;
    line-height: 23px;
  }

  span {
    font-weight: bold;
    text-decoration: underline;
  }
</style>

<body>
  <h1>TERMO DE ENDOSSO</h1>
  <br /><br />

  <p>
    ENDOSSO à: COOPERATIVA DE CREDITO LESTE CAPIXABA, CNPJ: 32.430.233/0001-10,
    sendo esta, a partir de agora, credora de todos oe direitos e demais
    condições previstas na CPR numero: .
  </p>

  <p>
    Este presente instrumento passa a fazer parte integrante da CPR supracitada,
    formando um único e indivisível documento, para todos os fins de direito,
    devendo ser levado a registro no competente Cartório de Registro de Imóveis.
  </p>

  <br /><br />

  <p>_________________________________________<br /></p>
</body>
